header {
    text-align: center;
    font-size: 50px;
    background-color: #fff56d;
    padding-top: 2px;
    padding-bottom: 2px;
    border-bottom: 20px solid rgb(165, 145, 34);
    font-family: sans-serif;
}

.intro-text {
    font-size: 200%;
    padding-right: 10px;
}

.intro {
    height: 500px;
    padding: 8%
}

.potato {
    outline: 5px solid black;
    float: right;
}
